.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.ClearBackground {
  background-color: white;
  color: black;
}
.SelectedBackGround {
  background-color: black;
  color: white;
}
